<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<input type="text" id="search">
<button id="btnSearch">Search</button>

<p id="tableList"></p>
<p id="end"></p>
<!--<p id="contentBlog"></p>-->
<!--<p id="categoryBlog"></p>-->
<button id="bntLoadMore">Load more</button>
</body>
<script src="/js/jquery-3.5.1.min.js"></script>
<script>
    data = "";
    $("#btnSearch").click(function () {
        let search = $("#search").val();
        console.log(search);
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/blog/listSearch/" + search,
            dataType: "json",
            success: function (blog) {
                for (let i = 0; i < blog.length; i++) {
                    data +=
                        '<p>' + blog[i].id + '</p>' +
                        '<p>' + blog[i].name + '</p>' +
                        '<p>' + blog[i].content + '</p>' +
                        '<p>' + blog[i].category.name + '</p>';
                }
                $("#tableList").html(data);
                console.log(blog);

            },
            error: function (blog) {

            }
        });
    });

    $(document).ready(function () {
        limit = 2;
        start = 0;
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "http://localhost:8080/blog/listLoadMore/" + start + "/" + limit,
            success: function (listBlog) {
                for (let i = 0; i < listBlog.length; i++) {
                    data +=
                        '<p>' + listBlog[i].id + '</p>' +
                        '<p>' + listBlog[i].name + '</p>' +
                        '<p>' + listBlog[i].content + '</p>' +
                        '<p>' + listBlog[i].category.name + '</p>';
                }
                $("#tableList").html(data);
            },
            error: function (content) {
                console.log(content);
            }
        });
    });

    $("#bntLoadMore").click(function () {
        limit = 2;
        start += 2;
        end = '';
        let dataEmpty = "";
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "http://localhost:8080/blog/listLoadMore/" + start + "/" + limit,
            success: function (listBlog) {
                for (let i = 0; i < listBlog.length; i++) {
                    data +=
                        '<p>' + listBlog[i].id + '</p>' +
                        '<p>' + listBlog[i].name + '</p>' +
                        '<p>' + listBlog[i].content + '</p>' +
                        '<p>' + listBlog[i].category.name + '</p>';
                    dataEmpty += listBlog[i].name;
                }
                $("#tableList").html(data);
                if (dataEmpty === '') {
                    end += 'Hết thông tin rồi !' + '<br>';
                }
                $("#end").html(end);
            },
            error: function (content) {
                console.log(content);
            }
        });
    });
</script>
</html>