<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/layout :: head"></head>
<body>
<h3>Modify Customer</h3>
<p>
    <a th:href="@{/home}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/blog/edit}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Title</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <div>
            <label>Date post</label>
            <input type="text" th:field="*{postDate}"/>
        </div>
        <div>
            <label>Name of post</label>
            <input type="text" th:field="*{nameOfPost}"/>
        </div>
        <input type="submit" value="Modify">
    </form>
</div>
<footer th:replace="views/layout :: footer"></footer>
</body>
</html>