<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
        <tr>
            <td th:text="${product.getProductId()}"></td>
            <td th:text="${product.getNameProduct()}"></td>
            <td th:text="${product.getQuantity()}"></td>
            <td th:text="${product.getPrice()}"></td>
        </tr>
    </table>
    <a th:href="@{/product/addToCart/{id}(id=${product.getProductId()})}">Add to cart</a>
</body>
</html>